{% extends 'base.html' %}

{% block title%} Air quality {% endblock %}

{% block body%}
<div class="uk-container">
    <div class="uk-margin-auto uk-margin-auto-vertical uk-width-1-2@s uk-card uk-card-default uk-card-body">

        <style>
            p {
                text-indent: 30px;
            }
        </style>

        <p>Приветствую Вас на сайте «Air quality». Данный сервис предназначен для оценки влияния загрязнения приземных
            слоев атмосферы на органы человека. Воздух, которым мы дышим, оказывает на нас огромное влияние.</p>

        <p>Ежегодно 7 миллионов человек умирают от загрязнения воздуха, а миллиарды людей без надобности страдают от
            последствий плохого качества воздуха.</p>

        <p>Тем не менее, многие из нас не имеют доступа к своевременной информации о качестве воздуха, и зачастую
            загрязнение воздуха остается незамеченным.</p>

        <p>Air quality работает над тем, чтобы это изменить. Сегодня вы можете пользоваться бесплатной платформой для
            получения информации о качестве воздуха в режиме реального времени.</p>
    </div>
</div>
{% endblock %}