{% extends 'base.html' %}

<!-- {% block title%}{% endblock %} -->
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
{% endblock %}

{% block body%}
<div class="uk-container">
    <div class="uk-flex uk-card uk-card-large uk-card-default uk-margin-large-top">
        <div class="" uk-grid>

            <div class="uk-width-expand@m">
                <canvas id="chart" width="800" height="400"></canvas>
                <div class="uk-flex uk-margin-top uk-margin-bottom" style="justify-content: space-around;">
                    <span>C <input class="uk-input uk-form-width-small uk-form-small" type="date" min="{{ min_date }}"
                            max="{{ max_date }}" id="startd"></span>
                    <span>По <input class="uk-input uk-form-width-small uk-form-small" type="date" min="{{ min_date }}"
                            max="{{ max_date }}" id="endd"></span>
                </div>
            </div>

            <div class="uk-width-auto@m">
                <ul class="uk-list uk-height-large uk-overflow-auto">
                    {% for region in regions %}
                    <li>
                        <button class="region-btn uk-button uk-button-text" region-index="{{ region.region_index }}">
                            {{ region.region_name }}
                        </button>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <script>

                var CHART_TITLE = null;
                var CHART_LABELS = null;
                var CHART_DATASETS = null;
                var CHART = null;

                $('button.region-btn').click(function () {
                    let region_index = $(this).attr('region-index');
                    let startd = $('#startd').val();
                    let endd = $('#endd').val();
                    var ajxdata = $.get("api", { region_index: region_index, start: startd, end: endd })
                        .done(function (data) {
                            CHART_TITLE = data.title;
                            CHART_LABELS = data.labels;
                            CHART_DATASETS = data.measures;
                            update_chart();
                        });
                });

                function update_chart() {
                    if (CHART_TITLE == null) return;
                    if (CHART != null) CHART.destroy();

                    CHART = new Chart("chart", {
                        type: "line",
                        data: {
                            labels: CHART_LABELS,
                            datasets: CHART_DATASETS.map(function (m) {
                                var dataset = {};
                                dataset['label'] = m.label;
                                dataset['fill'] = false;
                                dataset['backgroundColor'] = "rgba(0,0,255,1.0)";
                                dataset['borderColor'] = "rgba(0,0,255,0.1)";
                                dataset['data'] = m.data;
                                dataset['hidden'] = false;
                                return dataset;
                            })
                        },
                        options: {
                            title: {
                                display: true,
                                text: CHART_TITLE
                            }
                        }
                    });
                }

                $(document).ready(update_chart);

            </script>
        </div>
    </div>
</div>
{% endblock %}